nav {
    background-color: #22abbd;
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: white;
        &.active {
            color: orange;
            text-decoration: underline;
        }
    }
    li {
        margin: 20px;
        display: inline-block;
    }
    li a:hover {
        color: orange;
        text-decoration: underline;
    }
}