@mixin acitiveLink{
    color: orange;
    text-decoration: underline;
}
nav {
    background-color: #22abbd;
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: white;
        &.active {
            @include acitiveLink();
        }
    }
    li {
        margin: 20px;
        display: inline-block;
    }
    li a:hover {
        @include acitiveLink();
    }
}