@import './../../App.scss';

@mixin acitiveLink{
    color: orange;
    text-decoration: underline;
}
nav {
    background-color: #22abbd;
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: $color-white;
        &.active {
            @include acitiveLink();
        }
    }
    li {
        margin: 5px;
        list-style-type: none;
        border: 1px solid $color-white;
        padding: 20px;
        flex: 1;
    }
    li a:hover {
        @include acitiveLink();
    }
}

@media(max-width: 500px) {
    nav {
        ul {
            flex-direction: column;
        }
    }
}