.cls_seatCont {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 5px;
}

.cls_seatRow {
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cls_seat {
    flex: 1;
    border: 1px solid;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}