
@import './constants.scss';

body * {
    box-sizing: border-box;
    font-size: 14px;
}
.App {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    align-items: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 10px 0;
    border: none;
    width: 100%;
    outline: none;
    margin: 5px 0;
    border-bottom: 2px solid $color-blue;
    &.error {
        border-bottom: 1px solid $color-red;
    }
    &.success {
        border-bottom: 1px solid $color-green;
    }
    &:focus {
        border-bottom: 2px solid $color-blue;
    }
}
.card {
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid #efefef;
    padding: 10px;
    width: 100%;
}

.card-md {
    width: 80%;
    @extend .card;
}

.card-sm {
    width: 50%;
    @extend .card;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    padding: 10px;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
}

.btn-outline {
    @extend .btn;
    background-color: $color-white;
    border: 1px solid $color-blue;
    color: inherit;
}

.btn-filled {
    @extend .btn;
    background-color: $color-blue;
    color: $color-white;
    border: none;
}

.error {
    color: $color-red;
}

.flex-container {
    display: flex;
}

.flex-container-col {
    @extend .flex-container;
    justify-content: space-around;
}

.flex-end {
    @extend .flex-container;
    justify-content: flex-end;
}

.container {
    margin: 10px 0;
}

.errMsgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}