.App {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 77vh;
}

input {
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
    margin: 5px 0;
    &.error {
        border-bottom: 1px solid red;
    }
    &.success {
        border-bottom: 1px solid green;
    }
    &:focus {
        border-bottom: 2px solid blue;
    }
}

body * {
    box-sizing: border-box;
    font-size: 14px;
}
.card {
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid #efefef;
    padding: 10px;
}

.card-md {
    width: 80%;
    @extend .card;
}

.card-sm {
    width: 50%;
    @extend .card;
}

.btn {
    padding: 10px;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
}

.btn-outline {
    @extend .btn;
    background-color: white;
    border: 1px solid blue;
    color: inherit;
}

.btn-filled {
    @extend .btn;
    background-color: blue;
    color: white;
    border: none;
}

.error {
    color: red;
}

.flex-container {
    display: flex;
}

.flex-container-col {
    @extend .flex-container;
    justify-content: space-around;
}

.flex-end {
    @extend .flex-container;
    justify-content: flex-end;
}

.container {
    margin: 10px 0;
}